@{
    ViewBag.Title = "landlords";
}

<section id="banner">
    <div class="bd">
        <ul>
            <li style="background-image: url(/pic/probanner4.jpg); height:567px">
                <div class="intro">
                    <h2>斗地主</h2>
                    @*<dl class="online">
                        <dt>在线游戏</dt>
                        <dd>
                            <a href="http://apps.facebook.com/twdoudizhu" class="pt1" target="_blank" title="Facebook"></a>
                            <a href="http://www.kaixin001.com/!app_landlord/" class="pt3" target="_blank" title="开心网"></a>
                            <a href="http://game.weibo.com/boyadoudizhu?origin=1421" class="pt5" target="_blank" title="新浪微游戏"></a>
                        </dd>
                    </dl>*@
                    <p>风靡国内外的斗地主游戏，超低流量，玩法多样，居家旅行必备良品</p>
                    <br>
                    <dl class="download">
                        <dt>下载游戏：</dt>
                        <dd>
                            <a href="https://itunes.apple.com/cn/app/bo-ya-dou-zhuhd-zhi-chi-si/id491274558?mt=8" class="downlink ipad">iPad</a>
                            <a href="https://itunes.apple.com/cn/app/bo-ya-dou-zhu-zhi-chi-si-ren/id463242371?mt=8" class="downlink iphone">iPhone</a>
                            <a href="http://bigfile-ws.static.17c.cn/bigfile-ws/guonei/boyaalandlord_boyaa_5.1_300002890169_3003916748.apk" class="downlink android">Android</a>
                            <span class="ewm"><img src="~/images/landlords80.png" height="80" width="80" alt=""></span>
                        </dd>
                    </dl>
                </div>
            </li>
        </ul>
    </div>
</section>
<section id="main" class="area promain">
    <div class="location">
        <span class="qlink"><a href="index" class="home"></a> <em></em> <a href="lists">玩一玩</a> <em></em> <label>斗地主</label></span>
        <a href="lists" class="goback">返回列表</a>
    </div>
    <section class="area combox">
        <div class="gameintro">
            <p><img src="/pic/doudizhu1.jpg" height="899" width="999" alt=""></p>
            <p><img src="/pic/doudizhu2.jpg" height="1037" width="999" alt=""></p>
        </div>
    </section>
</section>
<a href="landlords#top" class="gotop"></a>




@section nav{
    <a href="/home/index">首　页</a>
    <a class="current" href="/home/lists">游戏中心</a>
    <a href="/home/download">手机客户端</a>
}
