@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Error 403</title>
    <link href="~/css/error.css" rel="stylesheet" />
</head>

<body>
    <div class="demo">
        <p><span>4</span><span>0</span><span>3</span></p>
        <p>禁止访问该页(´･ω･`)</p>
    </div>
</body>
</html>