<div class="login-info">
    <span>
        @*<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">*@
        <a href="javascript:void(0);" id="show-shortcut">
            <img src="~/content/img/avatars/male.png" alt="me" class="online" />
            <span>@User.Identity.Name.ToLower()</span>
            @*<i class="fa fa-angle-down"></i>*@
        </a>
    </span>
</div>