<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下例中，“SetAttributes”转换将更改 
    “connectionString”的值，以仅在“Match”定位器 
    找到值为“MyDB”的特性“name”时使用“ReleaseSQLServer”。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <!--游戏服务器地址-->
    <add key="serverhost" value="192.168.1.18" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="serverport" value="5200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--007地址-->
    <add key="robothost" value="192.168.1.18" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="robotport" value="12001" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--数据库地址-->
    <add key="ConnectionString" value="Server=192.168.1.18;Charset=utf8;Uid=jx3role;Pwd=jx3role;Database=GServerInfo;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ConnectionStringForGameData" value="Server=192.168.1.18;Uid=jx3role;Charset=utf8;Pwd=jx3role;Database=gamedata;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ConnectionStringForGameRecord" value="Server=192.168.1.18;Uid=jx3role;Charset=utf8;Pwd=jx3role;Database=record;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--支付地址-->
    <add key="payUrl" value="http://tpay.515.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      在下例中，“Replace”转换将替换 
      web.config 文件的整个 <customErrors> 节。
      请注意，由于 
      在 <system.web> 节点下仅有一个 customErrors 节，因此不需要使用“xdt:Locator”特性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>