
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DownLoadFile</title>
</head>
<body>
    <div> 
        <form>
            <input type="submit"  value="下载" name="XiaZai" id="XiaZai"/>
        </form>
    </div>
</body>
</html>
