@{ 

   
}
<!--[if IE 9]>
    <style>
        .error-text {
            color: #333 !important;
        }
    </style>
<![endif]-->
<!-- row -->
<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center error-box">
                    <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> 无权限</h1>
                   
                    
                     <h2 class="font-xl"><strong>@ViewData["url"]</strong></h2>
                    <h2 class="font-xl"><strong>@ViewData["name"]</strong></h2>
                    @*<br />
                    <p class="lead semi-bold">
                        <strong>You have experienced a technical error. We apologize.</strong><br><br>
                        <small>
                            We are working hard to correct this issue. Please wait a few moments and try your search again. <br> In the meantime, check out whats new on SmartAdmin:
                        </small>
                    </p>*@
                
                </div>

            </div>

        </div>

    </div>

</div>
<!-- end row -->

<script type="text/javascript">
		// DO NOT REMOVE : GLOBAL FUNCTIONS!
		// pageSetUp();

		// PAGE RELATED SCRIPTS
		$("#search-error").focus();
</script>
