@using GL.Data.View
@model GameRecordView
@{
    ViewBag.Title = "彩池列表";
    Layout = "~/Views/Shared/_Layout.cshtml";


    List<PotRecord> PotList = (List<PotRecord>)Model.Data;

   // PotList.RemoveAll(m=>m.GameID!=15);
}



<div id="content">

    <form id="comment-form" class="smart-form" novalidate="novalidate">
        <div class="row">
            <div class="widget-body">
                <fieldset>
@foreach (var item in PotList)
            {
    <div class="row">
        <section class="col col-1.2">
            <label class="label">@((gameID)item.GameID) <text>彩池金额</text> </label>
            <label class="input">
                <input type="text" id="ChipPot" name="ChipPot" readonly="readonly" class="span4" value="@item.ChipPot" />
            </label>
        </section>
        <section class="col col-1">
            <label class="label">&nbsp;</label>
            <input data-edit="@item.GameID" type="button" value="修改" class="btn btn-danger btn-sm" />
        </section>
    </div>

                    }
               
                 </fieldset>
                      



</div>
        </div>
    </form>




    <div class="row-fluid">
        <div class="widget-box" id="box">
            @Html.Partial("PotList_PageList", Model.DataList)

        </div>
    </div>



</div>


@section scripts{
@{Html.RegisterMvcPagerScriptResource();}
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/select2.min.js"></script>

    <script type="text/javascript">


        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }

        $(function () {
            $("input[data-edit]").click(function () {
                
                location.href = "/GameData/PotListUpdate?gameid=" + $(this).attr("data-edit");
               // window.location.href = "/GameData/PotListUpdate?gameid=15" ;
            });
        });

    </script>
}
