
@{
    ViewBag.Title = "修改库存";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int no = Convert.ToInt32(ViewData["no"]);
}

<article class="col-sm-12 col-md-12 col-lg-7">
    <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2></h2>
        </header>
        <div>
            <div class="jarviswidget-editbox">
            </div>
            <div class="widget-body no-padding">
                <form id="submitForm" class="smart-form" action="" method="post">
                    <input id="no" name="no" type="hidden" value="@no" />
                    <fieldset>
                        <div class="row">
                            <section class="col col-5">
                                <label>添加/减少库存金额. :</label>
                                <label class="input">
                                    <input type="text" id="ChipPot" name="ChipPot" class="span4" value="0" />
                                </label>
                            </section>

                        </div>
                        <div class="row">

                            <section class="col col-5">
                                <label>修改原因 :</label>
                                <label class="textarea">
                                    <textarea class="textarea" id="Context" name="Context"></textarea>
                                </label>
                            </section>

                        </div>

                    </fieldset>


                    <footer>
                        <input id="btnGoBack" type="button" value="返回列表" class=" btn btn-warning" />
                      
                        <input id="btnadd" type="button" value="增加" class="btn btn-danger" />


                    </footer>
                </form>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>

</article>










@section scripts{

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <style type="text/css">
        .quick-actions1 {
            display: block;
            list-style: outside none none;
            margin: 15px 0;
            text-align: center;
        }

            .quick-actions1 li a {
                color: #fff;
                display: block;
                font-size: 14px;
                font-weight: lighter;
            }

            .quick-actions1 li a {
                padding: 10px 30px;
            }

        .quick-actions_homepage .quick-actions1 .span3 {
            width: 30%;
        }

        .quick-actions_homepage .quick-actions1 li {
            position: relative;
        }

        .quick-actions1 li {
            min-height: 70px;
            min-width: 14%;
        }

        .quick-actions1 li {
            float: left;
            line-height: 18px;
            margin: 0 10px 10px 0;
            padding: 0 10px;
        }

            .quick-actions1 li a i[class^="icon-"], .quick-actions1 li a i[class*=" icon-"] {
                display: block;
                font-size: 30px;
                margin: 0 auto 5px;
            }

        .quick-actions1 li {
            padding: 0;
        }
    </style>

    <script type="text/javascript">


        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }

        $(function () {
            $("#btnadd").click(function () {
                $.ajax({
                    url: "/DaiLi/UpdateKuCun/",
                    type: "POST",
                    dataType: "JSON",
                    data: { "no": $("#no").val(), "gold": $("#ChipPot").val() },
                    success: function (data) {
                      
                        if (data == "1") {
                            alert("修改成功!");
                        } else {
                            alert("修改失败!");
                        }
                      
                    }
                });
                return false;
            });
         
            $("#btnGoBack").click(function () {
                location.href = "/DaiLi/Index";
            });
        });


    </script>
}
