<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <add key="ConStringType" value="MySql" />
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <!--<add key="ConnectionString" value="Server=182.254.148.116;Port=4040;Charset=utf8;Uid=jx3role;Pwd=eN8Hbc6mPvTn3)Z.;Database=GServerInfo;"/>
    <add key="ConnectionStringForGameData" value="Server=115.159.3.167;Uid=sa;Pwd=eN8Hbc6mPvTn3)Z.;Database=515game;"/>-->
   
    
    <!--<add key="ConnectionString" value="Server=192.168.1.18;Charset=utf8;Uid=jx3role;Pwd=jx3role;Database=GServerInfo;" />
    <add key="ConnectionStringForGameData" value="Server=192.168.1.18;Uid=jx3role;Charset=utf8;Pwd=jx3role;Database=515game;" />
    <add key="ConnectionStringForGameRecord" value="Server=192.168.1.18;Uid=jx3role;Charset=utf8;Pwd=jx3role;Database=record;" />
    <add key="gameUrl" value="http://192.168.1.17:8888/tg/?via=" />
    <add key="serverIP" value="192.168.1.18" />-->
  
    
   
    <!--<add key="ConnectionString" value="Server=10.66.128.41;Charset=utf8;Uid=jx3role;Pwd=eN8Hbc6mPvTn3)Z.;Database=GServerInfo;" />
    <add key="ConnectionStringForGameData" value="Server=10.66.128.41;Uid=jx3role;Pwd=eN8Hbc6mPvTn3)Z.;Database=515game;" />
    <add key="ConnectionStringForGameRecord" value="Server=10.66.128.41;Uid=jx3role;Pwd=eN8Hbc6mPvTn3)Z.;Database=record;" />
    <add key="gameUrl" value="http://yali.515.com/tg/?via=" />
    <add key="serverIP" value="115.159.100.154" />-->


    <!--正式环境参数-->
    <!--<add key="ConnectionString" value="Server=10.66.159.153;Charset=utf8;Uid=jx3role;Pwd=eN8Hbc6mPvTn3)Z.;Database=GServerInfo;" />
    <add key="ConnectionStringForGameData" value="Server=10.66.159.153;Charset=utf8;Uid=jx3role;Pwd=eN8Hbc6mPvTn3)Z.;Database=gamedata;" />
    <add key="ConnectionStringForGameRecord" value="Server=10.66.159.153;Charset=utf8;Uid=jx3role;Pwd=eN8Hbc6mPvTn3)Z.;Database=record;" />
    <add key="gameUrl" value="http://www.515.com/tg/?via=" />
    <add key="serverIP" value="115.159.214.148" />
    <add key="serverPort" value="6100" />-->


    <!--<add key="ConnectionString" value="Server=192.168.1.18;Charset=utf8;Uid=jx3role;Pwd=jx3role;Database=GServerInfo;" />
    <add key="ConnectionStringForGameData" value="Server=192.168.1.18;Uid=jx3role;Charset=utf8;Pwd=jx3role;Database=515game;" />
    <add key="ConnectionStringForGameRecord" value="Server=192.168.1.18;Uid=jx3role;Charset=utf8;Pwd=jx3role;Database=record;" />
    <add key="gameUrl" value="http://192.168.1.17:8888/tg/?via=" />
    <add key="serverIP" value="192.168.1.18" />
    <add key="serverPort" value="6100" />-->

    <add key="connectionstring" value="server=192.168.1.50;charset=utf8;uid=root;pwd=hhy1331;database=GServerInfo;" />
    <add key="connectionstringforgamedata" value="server=192.168.1.50;uid=root;charset=utf8;pwd=hhy1331;database=gamedata;" />
    <add key="connectionstringforgamerecord" value="server=192.168.1.50;uid=root;charset=utf8;pwd=hhy1331;database=record;" />
    <add key="gameUrl" value="http://192.168.1.17:8888/tg/?via=" />
    <add key="serverIP" value="192.168.1.151" />
    <add key="serverPort" value="16100" />

    <!--名字的配置 -->
    <add key="coin" value="5币"/>
    <add key="systemName" value="515德州后台管理系统"/>
    <!--1为515德州，2为万人德州-->
    <add key="SystemType" value="2"/>
    <!--数据库名称的配置-->
    <add key="database1" value="gamedata"/>
    <add key="database2" value="GServerInfo"/>
    <add key="database3" value="record"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
