@using GL.Data.Model;
@model FAQ
@{
    ViewBag.Title = "常见问题--编辑";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<article class="col-sm-12 col-md-12 col-lg-7">
    <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2>修改常见问题</h2>
        </header>
        <div>
            <div class="jarviswidget-editbox">
            </div>
            <div class="widget-body no-padding">
                <form id="submitForm" class="smart-form" action="" method="post">
                    <input type="hidden" id="Id" name="Id" class="span4" value="@Model.Id" />
                    <fieldset>
                     
                            <section >
                                <label>标题 :</label>
                                <label class="input">
                                    <input type="text" id="faqtitle" name="faqtitle" class="span4" value="@Model.faqtitle" />
                                </label>
                            </section>
                 
                            <section >
                                <label>内容 :</label>
                                <label class="textarea">
                                    <textarea id="faqcontent" name="faqcontent" class="custom-scroll">@Model.faqcontent</textarea>
                                </label>
                            </section>
             

                    </fieldset>


                    <footer>

                        <input id="btnGoBack" type="button" value="返回列表" onclick="return GoBack()" class=" btn btn-warning" />
                        <input id="btnKick" type="submit" value="提交" class="btn btn-danger" />
                    </footer>
                </form>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>

</article>









@section scripts{
    @{Html.RegisterMvcPagerScriptResource();}


    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/select2.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

    function GoBack() {
        location.href = "/Service/CommonProblems";
    }

    $(function () {


        $.validator.setDefaults({
            submitHandler: function (form) {
                //form.submit();
                $.ajax({
                    url: "/api/CommonProblemsApi/",
                    type: "PUT",
                    dataType: "JSON",
                    data: $("#submitForm").serialize(),
                    success: function (data) {
                        switch (data.result) {
                            case 0:
                                location.href = "/Service/CommonProblems";
                                break;
                            case 200:
                                alert("值不能为空，请稍后再试");
                                break;
                            case 204:
                                alert("账号已存在，请重新添加");
                                break;
                            case 205:
                                alert("添加失败，账号只能由字母和数字组成");
                                break;
                            default:
                                alert('添加失败,请与管理员联系');
                                break;
                        }
                    }
                }).fail(function (xhr, textStatus, err) {
                    alert('Error: ' + err);
                });
                return false;
            }
        });

        // 字符验证

        jQuery.validator.addMethod("stringCheck", function (value, element) {
            return this.optional(element) || /^[\w]+$/.test(value);
        }, "只能包括英文字母、数字和下划线");
        // 字符验证
        jQuery.validator.addMethod("stringCheckWithChinese", function (value, element) {
            return this.optional(element) || /^[\u0391-\uFFE5\w]+$/.test(value);
        }, "只能包括中文字、英文字母、数字和下划线");

        // 中文字两个字节
        jQuery.validator.addMethod("byteRangeLength", function (value, element, param) {
            var length = value.length;
            for (var i = 0; i < value.length; i++) {
                if (value.charCodeAt(i) > 127) {
                    length++;
                }
            }
            return this.optional(element) || (length >= param[0] && length <= param[1]);
        }, "请确保输入的值在3-15个字节之间(一个中文字算2个字节)");

        // 身份证号码验证
        jQuery.validator.addMethod("isIdCardNo", function (value, element) {
            return this.optional(element) || isIdCardNo(value);
        }, "请正确输入您的身份证号码");

        // 手机号码验证
        jQuery.validator.addMethod("isMobile", function (value, element) {
            var length = value.length;
            var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");

        // 电话号码验证
        jQuery.validator.addMethod("isTel", function (value, element) {
            var tel = /^\d{3,4}-?\d{7,9}$/;    //电话号码格式010-12345678
            return this.optional(element) || (tel.test(value));
        }, "请正确填写您的电话号码");

        // 联系电话(手机/电话皆可)验证
        jQuery.validator.addMethod("isPhone", function (value, element) {
            var length = value.length;
            var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
            //var tel = /^\d{3,4}-?\d{7,9}$/;
            //return this.optional(element) || (tel.test(value) || mobile.test(value));
            return this.optional(element) || mobile.test(value);

        }, "请正确填写您的联系电话");

        // 邮政编码验证
        jQuery.validator.addMethod("isZipCode", function (value, element) {
            var tel = /^[0-9]{6}$/;
            return this.optional(element) || (tel.test(value));
        }, "请正确填写您的邮政编码");


        $('#submitForm').validate({
            /* 设置验证规则 */
            errorElement: "span",
            rules: {
                faqtitle: {
                    required: true,
                    stringCheckWithChinese: true,
                    byteRangeLength: [4, 64]
                },
                faqcontent: {
                    required: true,
                    stringCheckWithChinese: true,
                    byteRangeLength: [4, 300]
                }
            },

            /* 设置错误信息 */
            messages: {
                faqtitle: {
                    required: "请填写常见问题标题",
                    stringCheckWithChinese: "常见问题标题只能包括中文字、英文字母、数字",
                    byteRangeLength: "常见问题标题必须在4-64个字符之间"
                },
                faqcontent: {
                    required: "请填写常见问题内容",
                    stringCheckWithChinese: "常见问题内容只能包括中文字、英文字母、数字和常见的标点符号",
                    byteRangeLength: "常见问题内容必须在4-300个字符之间(一个中文字算2个字符)"
                }
            },

            /* 设置验证触发事件 */
            focusInvalid: false,
            onkeyup: false,

            /* 设置错误信息提示DOM */
            errorPlacement: function (error, element) {
                error.appendTo(element.parent());
            },

        });



    })
    //function btnSubmit() {


    //    $.ajax({
    //        url: "/api/MemberApi/",
    //        type: "PUT",
    //        dataType: "JSON",
    //        data: $("#submitForm").serialize(),
    //        success: function (data) {
    //            switch (data.result) {
    //                case 0:
    //                    location.href = "/Service/Member";
    //                    break;
    //                case 200:
    //                    alert("值不能为空，请稍后再试");
    //                    break;
    //                case 204:
    //                    alert("账号已存在，请重新添加");
    //                    break;
    //                case 205:
    //                    alert("添加失败，账号只能由字母和数字组成");
    //                    break;
    //                default:
    //                    alert('添加失败,请与管理员联系');
    //                    break;
    //            }
    //        }
    //    }).fail(function (xhr, textStatus, err) {
    //        alert('Error: ' + err);
    //    });
    //    return false;
    //}


    </script>
}
