@{
    ViewBag.Title = "service";
    Layout = "~/Views/Shared/_index.cshtml";
}

 <section class="main-banner service-banner"></section>
    <section class="main">
        <div class="line-title">
            <span class="line"></span>
            <div class="title">
                <h2>客服中心</h2>
            </div>
        </div>
        <ul class="contact-list">
            <li>
                <a class="contact-info" href="javascript:;">
                    <i class="icon icon-phone"></i>
                    <p>客服电话</p>
                    <strong>4000-825-515</strong>
                </a>
            </li>
            <li>
                <a class="contact-info" href="http://wpa.b.qq.com/cgi/wpa.php?ln=2&uin=4000825515">
                    <i class="icon icon-qq"></i>
                    <p>企业QQ</p>
                    <strong class="qq">4000825515</strong>
                </a>
            </li>
            <li>
                <a class="contact-info" href="javascript:;">
                    <i class="icon icon-mail"></i>
                    <p>企业邮箱</p>
                    <strong>webmaster@515.com</strong>
                </a>
            </li>
        </ul>
        <p>*点击查看各游戏常见问题解答</p>
        <ul class="hotlists-game">
            <li>
                <a class="game-panel game-panel-n" href="#">
                    <img class="pic" src="Image/games/poker.jpg" alt="德州扑克">
                    <div class="info">
                        <h3>德州扑克</h3>
                        <p class="en">TEXAS HOLD’EM POKER<i></i></p>
                    </div>
                </a>
            </li>
            <li>
                <a class="game-panel game-panel-n" href="#">
                    <img class="pic" src="Image/games/landlords.jpg" alt="斗地主">
                    <div class="info">
                        <h3>斗地主</h3>
                        <p class="en">LANDLORDS<i></i></p>
                    </div>
                </a>
            </li>
            <li>
                <a class="game-panel game-panel-n" href="#">
                    <img class="pic" src="Image/games/developing.jpg" alt="开发中...">
                    <div class="info">
                        <h3>开发中...</h3>
                        <p class="en">MORE...<i></i></p>
                    </div>
                </a>
            </li>
        </ul>
    </section>