@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/Shared/_index.cshtml";
}

   <section class="main-banner aboutus-banner"></section>
    <section class="main">
        <!-- 侧栏 -->
        <aside class="article-side">
            <div class="title-n">
                <h2><strong>关于我们</strong>About us</h2>
            </div>
            <nav>
                <ul>
                    <li class="active"><a href="#">公司简介</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </nav>
            <div class="contact-block">
                <strong class="tel">TEL:0755-88996868</strong>
                <p>传真：0755-83896262</p>
                <p>邮箱：support@iwo.com</p>
            </div>
        </aside>
        <div class="article-area">
            <div class="title-n">
                <h2><strong>公司简介</strong>Company profile</h2>
            </div>
            <!-- 文章区域，文章内容不作样式控制 -->
            <div class="article">
               <p style="text-indent:2em;">深圳市互联工场科技有限公司, 英文简称IWO（Internet Works Online），是互联网创业者的创业合作平台。</p><br/>
               <p style="text-indent:2em;">互联工场依托中国互联网优势，采用先进技术，依据行业标准，向用户提供增值应用、电信级专业维护等系列服务，为用户构建放心、省心、动心的数字家园。旗下拥有517美食网、62优名网、YAMI吖米三个自主品牌。其中517美食网（www.517.com）是中国最专业美食网站、62优名网（www.62.com）是中国优质域名交易平台、吖米（www.yami.ms）是大众美食分享平台、微融资（www.wrz.com）是域名融资平台。另有综合性电子产品门户网站电子城（www.dzc.com）、第三方智能支付平台刷付宝（www.shuafubao.com）三个品牌仍处于招商阶段。</p><br/><p style="text-indent:2em;">互联工场总部位于深圳市南山区，在广州、汕头设立分公司，全国多个城市拥有创业合作伙伴。</p><br/><p style="text-indent:2em;">互联工场也是一个友好开放平台，不仅提供优质的创业项目，同时在人脉、资金、技术、市场、人才、法律、培训等方面已经建立了完善的创业服务体系，您可以申请互联工场现有项目投资、技术入股、地区加盟；也可凭自己的项目、资金、团队与我们合作而成为互联工场的创业合作伙伴，与互联工场一起成长，成就您的创业梦想。</p>

            </div>
        </div>
    </section>
