@model object

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>AAA:</h3>
        <ol class="round">






            <li class="one">
                <h5>@Model</h5>

            </li>





        </ol>
    </section>
</div>
