@{

    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no" />
    <title>515德州扑克</title>
    <meta name="keywords" content="" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            height: auto;
            width: 100%;
            overflow: scroll;
            background: #F2F2F2;
            line-height: 0px;
            -webkit-text-size-adjust: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            border: none;
            color: #FFF;
        }

        .clear {
            float: none;
            clear: both;
        }

        .scroll, .header, .floor, .content {
            width: 100%;
            height: auto;
        }

        .scroll {
            line-height: 0px;
        }

        .header {
            display: inline;
            line-height: 0px;
        }

        #content {
            height: 100%;
            background: #F2F2F2;
            border: none;
        }

        #contentkf {
            display: none;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #content515 {
            display: none;
            margin-top: 20px;
            margin-bottom: 20px;
            min-height: 410px;
        }

        .floor {
            bottom: 0px;
            position: relative;
        }

        .fl {
            float: left;
        }

        .nav {
            overflow: hidden;
            margin: 6px 0;
        }

        .floorTips {
            position: relative;
            text-align: center;
            width: 100%;
            height: 100px;
            background: #262626;
            line-height: 25px;
            color: #ffffff;
            bottom: 0px;
            margin: 0 auto;
        }

            .floorTips a {
                border: none;
                color: #FFFFFF;
                text-decoration: none;
                font-weight: 800;
                font-size: 12px;
                font-family: "微软雅黑";
            }

                .floorTips a.current {
                    background: #ad7020 none repeat scroll 0 0;
                    color: #fff;
                    font-weight: 800;
                    font-family: "微软雅黑";
                }

                .floorTips a:visited {
                    color: #fff;
                }

                .floorTips a:hover {
                    color: #FFF;
                }

                .floorTips a:active {
                    color: #fff;
                }

        .exchange {
            position: relative;
            float: right;
            top: 0px;
            margin: -12% 20px 0px 20px;
            height: 30px;
        }

            .exchange a {
                padding: 10px 20px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border: none;
                color: #fff;
                font-size: 12px;
                font-family: "微软雅黑";
                text-decoration: none;
                background: #22c656;
            }

        #open_win_background {
            position: absolute;
            z-index: 998;
            top: 0px;
            left: 0px;
            background: rgb(50, 50, 50);
            background: rgba(0, 0, 0, 0.9);
            display: none;
        }

        #open_win {
            position: absolute;
            z-index: 999;
            top: 0px;
            right: 0px;
            width: auto;
            height: auto;
            background: transparent;
            display: none;
            margin: 0px 20px;
        }

        img {
            border: 0;
            max-width: 100%;
        }




        html, body, div, span, a, ol, ul, li {
            margin: 0;
            padding: 0;
            border: 0;
        }

        body {
            line-height: 0;
            text-align: center;
        }

        ol, ul {
            list-style: none;
        }



        img {
            border: 0;
            max-width: 100%;
        }
        /*320px*/
        .exchange {
            position: relative;
            float: right;
            top: 0px;
            margin: -66% 0px 0px 35%;
            height: 30px;
        }

            .exchange img {
                padding: 10px 20px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border: none;
            }
    </style>


    <script type="text/javascript">
        function myclick() {
            window.location = "https://itunes.apple.com/cn/app/id1066070758";
        }
    </script>
</head>
<body>

    <div id="content">

        <div style="left:0px; right:0px; margin:0px 0px;">
            <div><img style="" src="~/img/bacg2.jpg"></div>
            <div class="exchange" style="width:100%"><img style="width:30%" onClick="myclick();" src="~/img/btnadd.jpg" /></div>
        </div>

    </div>


    @*  <div>
            <div><img src="~/img/bacg2.jpg" border="0" /></div>

            <div class="exchange">
               <img style="width:150px" onClick="myclick();" src="~/img/btnadd.jpg" />
            </div>
        </div>
    *@







</body>


</html>