@{ 
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>app</title>
    <script type="text/javascript">
			var clickApi = '';
    </script>
    <script src="http://sm.domobcdn.com/hm/2015/rtbjs/landing-v5.4.0.js?landingid=39hLluUfBjnlgU&pageid=index&rescale=0" id="domob_landing"></script>
    <script src="http://sm.domobcdn.com/hm/2015/rtbjs/moxz-v0.0.1.js"></script>
    <script src="http://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script>window.Zepto || document.write("<script src='~/js/ad/zepto.js'>\x3C/script>")</script>
  
    <script src="~/js/ad/main2.js"></script>
 
    <script src="~/js/ad/swiper.js"></script>
    <link href="~/js/ad/base.css" rel="stylesheet" />

    <link href="~/js/ad/swiper.css" rel="stylesheet" />
  
</head>
<body>
    <div class="top">
        <div class="logo">
            <img src="http://sm.domobcdn.com/ugc/681422.png">
        </div>
        <div class="info">
            <div class="appname">515德州扑克</div>
            <div class="type font-samll">游戏</div>
            <div class="size font-samll">22.56 MB</div>
        </div>
        <a href="https://itunes.apple.com/cn/app/id1066070758" id="download">
            <div class="download" onclick="downloadUCTT()">免费下载</div>
        </a>
    </div>
    <div class="content font-big" id="content"><pre>515德州扑克由515游戏网络有限公司推出，是当前风靡全球超真实超豪华超热门也超专业的德州扑克，全球千万玩家齐聚一堂。天天数不尽的欢乐礼包，每日更有百万帅哥美女陪你在线PK，闲聊，24小时从不间断。简约而不简单，享受娱乐的同时又有帅哥美女相伴，玩牌交友两不误。游戏币天天送，礼品天天拿。人人都玩，不玩才怪，更有诸多大奖，一切只等你来挑战。</pre></div>

    <div class="swiper-container" style="" data-swiper="[object Object]">
        <div class="swiper-wrapper" id="thumbnail" style="">
            <div class="swiper-slide swiper-slide-visible">
                <img src="http://sm.domobcdn.com/ugc/681425.png">
            </div>
            <div class="swiper-slide swiper-slide-visible">
                <img src="http://sm.domobcdn.com/ugc/681424.png">
            </div>
            <div class="swiper-slide swiper-slide-visible swiper-slide-active">
                <img src="http://sm.domobcdn.com/ugc/681423.png">
            </div>

        </div>
    </div>

    <div class="content font-big" id="update"><pre></pre></div>
    <div class="bottom"><a href="https://itunes.apple.com/cn/app/id1066070758" onclick="downloadUCTT()">前往AppStore了解更多详情</a></div>
</body>
</html>
