BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
blockqueue {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-SPACING: 0
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MAX-WIDTH: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MAX-WIDTH: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CAPTION {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
STRONG {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
TH {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
ABBR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
acroym {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
BODY {
	WIDTH: 100%; -webkit-text-size-adjust: none
}
* {
	FONT-FAMILY: "Microsoft YaHei" !important
}
.navbtn {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; WIDTH: 96.3%; PADDING-RIGHT: 0px; HEIGHT: 69px; PADDING-TOP: 5px
}
.navbtn .navbtn-left {
	WIDTH: 13px; BACKGROUND: url(img/theme/2/navl.png) no-repeat; FLOAT: left; HEIGHT: 69px
}
.navbtn .navbtn-mid {
	WIDTH: 84%; BACKGROUND: url(img/theme/2/navm.png); FLOAT: left; HEIGHT: 69px
}
.navbtn .navbtn-mid .navbtn-arrow {
	MARGIN: 26px 10px 0px 0px; WIDTH: 15px; BACKGROUND: url(img/theme/2/navarrow.png) no-repeat; FLOAT: right; HEIGHT: 16px
}
.navbtn .navbtn-mid .navbtn-text {
	LINE-HEIGHT: 69px; FLOAT: left; HEIGHT: 69px; COLOR: #767676; MARGIN-LEFT: 23px; FONT-SIZE: 20px
}
.navbtn .navbtn-right {
	WIDTH: 13px; BACKGROUND: url(img/theme/2/navr.png) no-repeat; FLOAT: left; HEIGHT: 69px
}
.l2-bg1 {
	BACKGROUND-COLOR: #ffe3f1
}
.l2-bg2 {
	BACKGROUND-COLOR: #ffe5eb
}
.l2-bg3 {
	BACKGROUND-COLOR: #efe8ff
}
.l2-bg4 {
	BACKGROUND-COLOR: #f7e7ff
}
.l2-bg5 {
	BACKGROUND-COLOR: #e2f3ff
}
.l2-bg6 {
	BACKGROUND-COLOR: #e4fbff
}
.l2-bg7 {
	BACKGROUND-COLOR: #f1ffe6
}
.l2-bg8 {
	BACKGROUND-COLOR: #fbffe9
}
.l2-bg9 {
	BACKGROUND-COLOR: #fff3e5
}
.l2-bg10 {
	BACKGROUND-COLOR: #fff7e6
}
.l2-bg11 {
	BACKGROUND-COLOR: #fee
}
.l2-bg12 {
	BACKGROUND-COLOR: #fff4e9
}
.t1-bg1 {
	BACKGROUND: url(img/theme/1/h1.png)
}
.t1-bg2 {
	BACKGROUND: url(img/theme/1/h2.png)
}
.t1-bg3 {
	BACKGROUND: url(img/theme/1/h3.png)
}
.t1-bg4 {
	BACKGROUND: url(img/theme/1/h4.png)
}
.t1-bg5 {
	BACKGROUND: url(img/theme/1/h5.png)
}
.t1-bg6 {
	BACKGROUND: url(img/theme/1/h6.png)
}
.t1-bg7 {
	BACKGROUND: url(img/theme/1/h7.png)
}
.t1-bg8 {
	BACKGROUND: url(img/theme/1/h8.png)
}
.t1-bg9 {
	BACKGROUND: url(img/theme/1/h9.png)
}
.t1-bg10 {
	BACKGROUND: url(img/theme/1/h10.png)
}
.t1-bg11 {
	BACKGROUND: url(img/theme/1/h11.png)
}
.t1-bg12 {
	BACKGROUND: url(img/theme/1/h12.png)
}
.bg1 {
	BACKGROUND: url(img/home/1.png) no-repeat
}
.bg2 {
	BACKGROUND: url(img/home/2.png) no-repeat
}
.bg3 {
	BACKGROUND: url(img/home/3.png) no-repeat
}
.bg4 {
	BACKGROUND: url(img/home/4.png) no-repeat
}
.bg5 {
	BACKGROUND: url(img/home/5.png) no-repeat
}
.bg6 {
	BACKGROUND: url(img/home/6.png) no-repeat
}
.bg7 {
	BACKGROUND: url(img/home/7.png) no-repeat
}
.bg8 {
	BACKGROUND: url(img/home/8.png) no-repeat
}
.bg9 {
	BACKGROUND: url(img/home/9.png) no-repeat
}
.bg10 {
	BACKGROUND: url(img/home/10.png) no-repeat
}
.bg11 {
	BACKGROUND: url(img/home/11.png) no-repeat
}
.bg12 {
	BACKGROUND: url(img/home/12.png) no-repeat
}
.bgInner1 {
	BACKGROUND: url(img/inner/1.png) no-repeat
}
.bgInner2 {
	BACKGROUND: url(img/inner/2.png) no-repeat
}
.bgInner3 {
	BACKGROUND: url(img/inner/3.png) no-repeat
}
.bgInner4 {
	BACKGROUND: url(img/inner/4.png) no-repeat
}
.bgInner5 {
	BACKGROUND: url(img/inner/5.png) no-repeat
}
.bgInner6 {
	BACKGROUND: url(img/inner/6.png) no-repeat
}
.bgInner7 {
	BACKGROUND: url(img/inner/7.png) no-repeat
}
.bgInner8 {
	BACKGROUND: url(img/inner/8.png) no-repeat
}
.bgInner9 {
	BACKGROUND: url(img/inner/9.png) no-repeat
}
.bgInner10 {
	BACKGROUND: url(img/inner/10.png) no-repeat
}
.bgInner11 {
	BACKGROUND: url(img/inner/11.png) no-repeat
}
.bgInner12 {
	BACKGROUND: url(img/inner/12.png) no-repeat
}
.bgBtn1 {
	BACKGROUND: url(img/btn/1.png) no-repeat; COLOR: #b63b7a
}
.bgBtn2 {
	BACKGROUND: url(img/btn/2.png) no-repeat; COLOR: #de496c
}
.bgBtn3 {
	BACKGROUND: url(img/btn/3.png) no-repeat; COLOR: #6f4dbb
}
.bgBtn4 {
	BACKGROUND: url(img/btn/4.png) no-repeat; COLOR: #9d4ec2
}
.bgBtn5 {
	BACKGROUND: url(img/btn/5.png) no-repeat; COLOR: #2180c3
}
.bgBtn6 {
	BACKGROUND: url(img/btn/6.png) no-repeat; COLOR: #21aac3
}
.bgBtn7 {
	BACKGROUND: url(img/btn/7.png) no-repeat; COLOR: #1da91b
}
.bgBtn8 {
	BACKGROUND: url(img/btn/8.png) no-repeat; COLOR: #99b625
}
.bgBtn9 {
	BACKGROUND: url(img/btn/6.png) no-repeat; COLOR: #2180c3
}
.bgBtn10 {
	BACKGROUND: url(img/btn/10.png) no-repeat; COLOR: #bf9335
}
.bgBtn11 {
	BACKGROUND: url(img/btn/11.png) no-repeat; COLOR: #a91919
}
.bgBtn12 {
	BACKGROUND: url(img/btn/12.png) no-repeat; COLOR: #d76628
}
.bg1px1 {
	BACKGROUND: url(img/pixel/1.png) repeat-x 0px 0px
}
.bg1px2 {
	BACKGROUND: url(img/pixel/2.png) repeat-x 0px 0px
}
.bg1px3 {
	BACKGROUND: url(img/pixel/3.png) repeat-x 0px 0px
}
.bg1px4 {
	BACKGROUND: url(img/pixel/4.png) repeat-x 0px 0px
}
.bg1px5 {
	BACKGROUND: url(img/pixel/5.png) repeat-x 0px 0px
}
.bg1px6 {
	BACKGROUND: url(img/pixel/6.png) repeat-x 0px 0px
}
.bg1px7 {
	BACKGROUND: url(img/pixel/7.png) repeat-x 0px 0px
}
.bg1px8 {
	BACKGROUND: url(img/pixel/8.png) repeat-x 0px 0px
}
.bg1px9 {
	BACKGROUND: url(img/pixel/9.png) repeat-x 0px 0px
}
.bg1px10 {
	BACKGROUND: url(img/pixel/10.png) repeat-x 0px 0px
}
.bg1px11 {
	BACKGROUND: url(img/pixel/11.png) repeat-x 0px 0px
}
.bg1px12 {
	BACKGROUND: url(img/pixel/12.png) repeat-x 0px 0px
}
.forLeft {
	Z-INDEX: 9; POSITION: absolute; WIDTH: 120px
}
.wid100 {
	WIDTH: 100%
}
.more {
	MARGIN-RIGHT: 15px
}
.pdT10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.pdT14 {
	PADDING-BOTTOM: 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 14px
}
.pdL1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 0px
}
.pdL5 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.pdL10 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.pdL15 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 0px
}
.pdL25 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 0px
}
.mgBT6 {
	MARGIN-BOTTOM: 6px
}
.mgBT10 {
	MARGIN-BOTTOM: 10px
}
.mgBT14 {
	MARGIN-BOTTOM: 14px
}
.mgBT20 {
	MARGIN-BOTTOM: 20px
}
.mgBTNo {
	MARGIN-BOTTOM: 0px
}
.mgL4 {
	MARGIN-LEFT: 4px; MARGIN-RIGHT: 4px
}
.mgL5 {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px
}
.mgR8 {
	MARGIN-RIGHT: 8px
}
.mgRNo {
	MARGIN-RIGHT: 0px
}
.fs13 {
	FONT-SIZE: 13px
}
.fs14 {
	FONT-SIZE: 14px
}
.fs15 {
	FONT-SIZE: 15px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.cb {
	CLEAR: both
}
.inb {
	DISPLAY: inline-block
}
.inl {
	DISPLAY: inline
}
.uns {
	DISPLAY: none
}
.fcw {
	COLOR: white
}
.tac {
	TEXT-ALIGN: center
}
.btn {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; LINE-HEIGHT: 34px; WIDTH: 70px; HEIGHT: 34px; BORDER-TOP: 0px; TOP: 5px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.btnInner {
	TOP: 3.5px
}
DIV.logo DIV.lh100 {
	LINE-HEIGHT: 52px
}
DIV.logo {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
DIV.intro {
	HEIGHT: 42px
}
DIV.intro DIV.lh100 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; MARGIN-TOP: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #000; PADDING-TOP: 0px
}
DIV.introImg {
	HEIGHT: 90px
}
DIV.introTxt DIV {
	LINE-HEIGHT: 27px; COLOR: #2180c3; FONT-SIZE: 18px
}
DIV.introTxt IMG {
	MARGIN-RIGHT: 5.2px
}
DIV.service {
	WIDTH: 99.4%; HEIGHT: auto
}
DIV.service DIV.block {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; WIDTH: 119px; PADDING-RIGHT: 15px; DISPLAY: inline; HEIGHT: 114px; OVERFLOW: hidden; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 10px
}
DIV.service DIV.hui {
	BACKGROUND: url(img/hui.png) no-repeat right top
}
DIV.service DIV.new {
	BACKGROUND: url(img/new.png) no-repeat right top
}
DIV.service DIV.block DIV.title {
	LINE-HEIGHT: 17px; HEIGHT: 17px; FONT-SIZE: 14px
}
DIV.service DIV.block DIV.price {
	LINE-HEIGHT: 17px; HEIGHT: 17px; FONT-SIZE: 14px
}
DIV.oh {
	OVERFLOW: hidden
}
DIV.service DIV.block DIV.title A {
	COLOR: #1461ff
}
DIV.service DIV.block DIV.price {
	COLOR: #ff000b
}
DIV.service DIV.block DIV.content {
	LINE-HEIGHT: 16px; WORD-WRAP: break-word; HEIGHT: 80px; FONT-SIZE: 13px; OVERFLOW: hidden
}
DIV.footer {
	HEIGHT: 32px
}
DIV.footer DIV.info {
	LINE-HEIGHT: 16px; COLOR: #f44; FONT-SIZE: 14px
}
DIV.footer DIV.info IMG {
	MARGIN-RIGHT: 5px
}
DIV.caseTxt P {
	LINE-HEIGHT: 17px; TEXT-INDENT: 1em; FONT-SIZE: 13px
}
DIV.commentTxt {
	FONT-SIZE: 13px
}
DIV.commentTxt DIV.right {
	TEXT-ALIGN: right; COLOR: #6e6e6e
}
DIV.list {
	BORDER-TOP: #ccc 1px solid
}
DIV.listNobt {
	BORDER-TOP: 0px; PADDING-TOP: 0px
}
DIV.team {
	MIN-HEIGHT: 70px
}
DIV.team DIV.photo {
	WIDTH: 70px; HEIGHT: 84px; MARGIN-RIGHT: 10px
}
DIV.team DIV.title {
	LINE-HEIGHT: 19px; FONT-SIZE: 15px
}
DIV.team DIV.info {
	LINE-HEIGHT: 17px; FONT-SIZE: 13px
}
DIV.team DIV.info IMG {
	MARGIN-RIGHT: 8px
}
DIV.glory {
	HEIGHT: 105px
}
DIV.glory DIV.block {
	WIDTH: 93px; DISPLAY: inline; HEIGHT: 105px
}
DIV.glory DIV.block DIV {
	LINE-HEIGHT: 17px; MARGIN: 5.2px auto 0px; WIDTH: 85px; FONT-SIZE: 13px
}
DIV .album {
	HEIGHT: 173px
}
DIV.album DIV.plain A {
	COLOR: #333
}
DIV.album DIV.block {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; WIDTH: 149px; DISPLAY: block; HEIGHT: 146px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
DIV.album DIV.block IMG {
	WIDTH: 100%; HEIGHT: 146px
}
DIV.album DIV.plain {
	LINE-HEIGHT: 18px; MARGIN: 8px 0px; FONT-SIZE: 14px
}
DIV.ask {
	FONT-SIZE: 13px
}
DIV.answer {
	FONT-SIZE: 13px
}
DIV.answer {
	COLOR: #6e6e6e
}
DIV.contactTxt {
	FONT-SIZE: 13px
}
DIV.contactImg {
	HEIGHT: 32px
}
DIV.detail DIV.title {
	FONT-SIZE: 17px
}
DIV.detail DIV.cont {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; MARGIN: 10px 0px; WIDTH: 99.4%; HEIGHT: 200px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
DIV.detail DIV.cont IMG {
	WIDTH: 100%; HEIGHT: 200px
}
DIV.detail P {
	TEXT-INDENT: 2em; FONT-SIZE: 13px
}
DIV.tel {
	WIDTH: 25%; BACKGROUND: url(img/skin/c1_n.png) no-repeat center top; FLOAT: left; HEIGHT: 100%
}
DIV.map {
	WIDTH: 25%; BACKGROUND: url(img/skin/c4_n.png) no-repeat center top; FLOAT: left; HEIGHT: 100%
}
DIV.sms {
	WIDTH: 25%; BACKGROUND: url(img/skin/c2_n.png) no-repeat center top; FLOAT: left; HEIGHT: 100%
}
DIV.chat {
	WIDTH: 25%; BACKGROUND: url(img/skin/c3_n.png) no-repeat center top; FLOAT: left; HEIGHT: 100%
}
.bottom-fixed {
	Z-INDEX: 10000; POSITION: fixed; TEXT-ALIGN: center; WIDTH: 100%; BOTTOM: 0px; BACKGROUND: url(bottombg.png); HEIGHT: 44px
}
.mapMarker {
	WIDTH: 22px; BACKGROUND: url(img/home/marker.png); FLOAT: left; HEIGHT: 30px
}
.mapMarkerA {
	BACKGROUND-POSITION: 0px 95px
}
.mapMarkerB {
	BACKGROUND-POSITION: -22px 95px
}
.mapMarkerC {
	BACKGROUND-POSITION: -45px 95px
}
.mapMarkerD {
	BACKGROUND-POSITION: -69px 95px
}
.mapMarkerE {
	BACKGROUND-POSITION: -94px 95px
}
.mapMarkerF {
	BACKGROUND-POSITION: -118px 95px
}
.mapMarkerG {
	BACKGROUND-POSITION: -142px 95px
}
.mapMarkerH {
	BACKGROUND-POSITION: -167px 95px
}
.mapMarkerI {
	BACKGROUND-POSITION: -189px 95px
}
.mapMarkerJ {
	BACKGROUND-POSITION: -214px 95px
}
.logoText {
	LINE-HEIGHT: 98px; WIDTH: 100%; HEIGHT: 98px
}
.logoText .logoText-left {
	WIDTH: 18px; BACKGROUND: url(img/theme/logol.png) no-repeat; HEIGHT: 98px
}
.logoText .logoText-mid {
	WIDTH: 85.98%; BACKGROUND: url(img/theme/logom.png); HEIGHT: 98px
}
.logoText .logoText-mid .logoText-text {
	TEXT-ALIGN: center; COLOR: #767676; FONT-SIZE: 22px
}
.logoText .logoText-right {
	WIDTH: 18px; BACKGROUND: url(img/theme/logor.png) no-repeat; HEIGHT: 98px
}
#comp_tel_span {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: right; COLOR: #fff; FONT-SIZE: 13px; PADDING-TOP: 26px
}
#comp_sms_span {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: right; COLOR: #fff; FONT-SIZE: 13px; PADDING-TOP: 26px
}
#comp_chat_span {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: right; COLOR: #fff; FONT-SIZE: 13px; PADDING-TOP: 26px
}
#comp_map_span {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: right; COLOR: #fff; FONT-SIZE: 13px; PADDING-TOP: 26px
}
.header {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 44px; BACKGROUND: url(img/top_bg.png); HEIGHT: 44px; COLOR: white; FONT-SIZE: 18px
}
.nav-site2-tap {
	Z-INDEX: 2; POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 40px; WIDTH: 38px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 38px; TOP: 6px; RIGHT: 10px
}
A:link {
	COLOR: #333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.open.nav-site2-tap {
	BACKGROUND-IMAGE: none !important; BORDER-BOTTOM-COLOR: #29303f !important; BACKGROUND-COLOR: #353c4c !important; BORDER-TOP-COLOR: #29303f !important; BORDER-BOTTOM-WIDTH: 0px !important; BORDER-RIGHT-COLOR: #29303f !important; BORDER-LEFT-COLOR: #29303f !important; border-top-right-radius: 5px; border-top-left-radius: 5px
}
.hover.nav-site2-tap {
	BACKGROUND-IMAGE: none !important; BORDER-BOTTOM-COLOR: #29303f !important; BACKGROUND-COLOR: #353c4c !important; BORDER-TOP-COLOR: #29303f !important; BORDER-BOTTOM-WIDTH: 0px !important; BORDER-RIGHT-COLOR: #29303f !important; BORDER-LEFT-COLOR: #29303f !important; border-top-right-radius: 5px; border-top-left-radius: 5px
}
.nav-site2-icon {
	POSITION: relative; MARGIN-TOP: 10px; WIDTH: 17px; DISPLAY: inline-block; BACKGROUND: url(img/header-icons.png) no-repeat 0px -35px; HEIGHT: 17px; -webkit-background-size: 19px 118px; background-size: 19px 118px
}
.nav-site2-body {
	Z-INDEX: 300; POSITION: absolute; BACKGROUND-COLOR: #353c4c; WIDTH: 100%; HEIGHT: 0px; OVERFLOW: hidden; TOP: 42px; -webkit-transform: scaleY(0); -webkit-transform-origin: 0 0; -webkit-transition: all 0.2s ease
}
.open.nav-site2-body {
	Z-INDEX: 3000; HEIGHT: auto; -webkit-transform: scaleY(1)
}
.nav-site2-ul {
	BORDER-BOTTOM: #29303f 1px solid; BORDER-LEFT: #29303f 1px solid; BORDER-TOP: #29303f 0px solid; BORDER-RIGHT: #29303f 1px solid
}
.nav-site2-li {
	BOX-SIZING: border-box; BORDER-BOTTOM: transparent 1px solid; BORDER-LEFT: transparent 1px solid; LINE-HEIGHT: 35px; WIDTH: 50%; FLOAT: left; HEIGHT: 37px; OVERFLOW: hidden; BORDER-TOP: #293040 1px solid; BORDER-RIGHT: transparent 1px solid; -webkit-box-sizing: border-box; -moz-box-sizing: border-box
}
.nav-site2-li SPAN {
	TEXT-ALIGN: left; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; COLOR: #fff; MARGIN-LEFT: 16px; FONT-SIZE: 14px; OVERFLOW: hidden
}
.curre {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: medium; BORDER-LEFT-WIDTH: 1px; CURSOR: default; border-top-right-radius: 3px; border-top-left-radius: 3px; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-image: none
}
.tabcolum_shortlink {
	POSITION: relative
}
.tabcolum_shortlink .tabul-shortlink LI {
	BORDER-BOTTOM: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.2em !important; PADDING-LEFT: 0px !important; WIDTH: 28%; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 0px !important; WHITE-SPACE: nowrap; MARGIN-BOTTOM: 15px; FLOAT: left; COLOR: #1e1e1e; FONT-SIZE: 13px !important; OVERFLOW: hidden; MARGIN-RIGHT: 2%; PADDING-TOP: 0px !important
}
.tabcolum_shortlink .shortmore {
	DISPLAY: none
}
.show.tabcolum_shortlink .shortmore {
	DISPLAY: block
}
.tabcolum_shortlink .tabul-shortlink {
	PADDING-LEFT: 21px; PADDING-RIGHT: 5px; PADDING-TOP: 12px
}
.tabcolum_shortlink .body {
	POSITION: relative
}
.tabcolum_shortlink .short-btn {
	POSITION: absolute; WIDTH: 30px; BOTTOM: 9px; HEIGHT: 30px; CURSOR: pointer; RIGHT: 0px
}
.tabcolum_shortlink .short-btn .short-btn-icon {
	POSITION: absolute; WIDTH: 8px; BACKGROUND: url(images/nav/channel-head.png) no-repeat 0px 0px; HEIGHT: 6px; TOP: 50%; LEFT: 50%; -webkit-background-size: 18px 6px; background-size: 18px 6px
}
.tabcolum_shortlink .up.short-btn .short-btn-icon {
	BACKGROUND-POSITION: -9px 0px
}
.shortlink_tab_header {
	BORDER-BOTTOM: #d5d6d1 1px solid; BORDER-LEFT: #d5d6d1 1px solid; PADDING-LEFT: 6px; BACKGROUND: #efefef 0px 0px; HEIGHT: 28px !important; FONT-SIZE: 15px; BORDER-TOP: #d5d6d1 1px solid; BORDER-RIGHT: #d5d6d1 1px solid; PADDING-TOP: 10px
}
.shortlink_tab {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.shortlink_tab_header .title {
	BORDER-LEFT: #629cd6 2px solid; PADDING-LEFT: 10px
}
.tabcolum_shortlink .tabul-shortlink {
	PADDING-LEFT: 21px; PADDING-RIGHT: 5px; PADDING-TOP: 12px
}
.tabcolum_shortlink .tabul-shortlink LI {
	BORDER-BOTTOM: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.2em !important; PADDING-LEFT: 0px !important; WIDTH: 28%; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 0px !important; WHITE-SPACE: nowrap; MARGIN-BOTTOM: 15px; FLOAT: left; COLOR: #1e1e1e; FONT-SIZE: 13px !important; OVERFLOW: hidden; MARGIN-RIGHT: 2%; PADDING-TOP: 0px !important
}
.tabcolum_shortlink .shortmore {
	DISPLAY: none
}
.tabcolum_shortlink .short-btn {
	POSITION: absolute; WIDTH: 30px; BOTTOM: 9px; HEIGHT: 30px; CURSOR: pointer; RIGHT: 0px
}
.tabcolum_shortlink .short-btn .short-btn-icon:after {
	POSITION: absolute; BACKGROUND-COLOR: #d1d1d1; WIDTH: 1px; HEIGHT: 13px; CONTENT: ""; TOP: -4px; LEFT: -10px
}
.tabcolum_shortlink .short-btn .short-btn-icon {
	POSITION: absolute; WIDTH: 8px; BACKGROUND: url(img/channel-head.png) no-repeat 0px 0px; HEIGHT: 6px; TOP: 50%; LEFT: 50%; -webkit-background-size: 18px 6px; background-size: 18px 6px
}
.tabcolum_shortlink .up.short-btn .short-btn-icon {
	BACKGROUND-POSITION: -9px 0px
}
UL {
	LIST-STYLE: none none outside
}
LI {
	LIST-STYLE: none none outside
}
OL {
	LIST-STYLE: none none outside
}
.m-tab .cur.body {
	DISPLAY: block
}
.s-clear:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.s-clear:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.tabcolum_shortlink .tabul-shortlink {
	PADDING-LEFT: 21px; PADDING-RIGHT: 5px; PADDING-TOP: 12px
}
.back-btn {
	LEFT: 5px
}
.nav-btn {
	POSITION: absolute; WIDTH: 44px; HEIGHT: 38px; TOP: 4px; RIGHT: 5px
}
.back-btn {
	POSITION: absolute; WIDTH: 44px; HEIGHT: 38px; TOP: 4px; RIGHT: 5px
}
.back-btn SPAN {
	BACKGROUND-POSITION: 13px -92px
}
.header-icon {
	BACKGROUND-IMAGE: url(img/header-icons.png); WIDTH: 100%; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 100%; background-size: 19px 118px
}
.s-clear:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.s-clear:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.text-link LI {
	BORDER-BOTTOM: #eeeeee 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 44px; PADDING-LEFT: 16px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 16px; WHITE-SPACE: nowrap; FONT-SIZE: 16px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.news-cont {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 16px; PADDING-RIGHT: 16px; PADDING-TOP: 0px
}
.news-title {
	TEXT-ALIGN: center; PADDING-BOTTOM: 17px; LINE-HEIGHT: 28px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 18px; FONT-WEIGHT: 600; PADDING-TOP: 17px
}
.news-title-gap {
	MARGIN: 8px 0px 12px
}
.r-line-h {
	BORDER-BOTTOM: #ffffff 1px solid; LINE-HEIGHT: 0; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-TOP: #dadada 1px solid
}
.news-content {
	LINE-HEIGHT: 22px; COLOR: #585858; FONT-SIZE: 13px
}
.pages {
	TEXT-ALIGN: center; MARGIN-TOP: 5px
}
.pages LABEL {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 12px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 2px
}
.pages A:link {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #333; FONT-SIZE: 12px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.pages A:visited {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 12px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 2px
}
INPUT {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 70%; MARGIN-BOTTOM: 5px; HEIGHT: 20px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
TEXTAREA {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 70%; MARGIN-BOTTOM: 5px; HEIGHT: 20px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.end_wap {
	HEIGHT: 60px
}
.z3g-input {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #afafaf 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: normal; PADDING-LEFT: 10px; WIDTH: 277px; PADDING-RIGHT: 10px; BACKGROUND: #fdfdfd 0px 0px; HEIGHT: 33px; BORDER-TOP: #858585 1px solid; BORDER-RIGHT: #afafaf 1px solid; PADDING-TOP: 0px; box-shadow: 1px 2px 3px #B7B7B7 inset
}
INPUT {
	OUTLINE-STYLE: none; OUTLINE-WIDTH: 0px
}
SELECT {
	OUTLINE-STYLE: none; OUTLINE-WIDTH: 0px
}
TEXTAREA {
	OUTLINE-STYLE: none; OUTLINE-WIDTH: 0px
}
.z3g-textarea {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #afafaf 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; WIDTH: 277px; PADDING-RIGHT: 10px; BACKGROUND: #fdfdfd 0px 0px; HEIGHT: 130px; BORDER-TOP: #858585 1px solid; BORDER-RIGHT: #afafaf 1px solid; PADDING-TOP: 10px; box-shadow: 1px 2px 3px #B7B7B7 inset
}
.z3g-button {
	BORDER-BOTTOM: #c5dbf0 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c5dbf0 1px solid; WIDTH: 125px; BACKGROUND: #c5dbf0 0px 0px; HEIGHT: 34px; COLOR: #ffffff; FONT-SIZE: 16px; BORDER-TOP: #c5dbf0 1px solid; BORDER-RIGHT: #c5dbf0 1px solid; text-shadow: 1px 1px 1px #c5dbf0
}
#zxlyx UL LI {
	MARGIN: 5px auto; WIDTH: 277px
}
