@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/Shared/_index.cshtml";
}

   <section class="main-banner aboutus-banner"></section>
    <section class="main">
        <!-- 侧栏 -->
        <aside class="article-side">
            <div class="title-n">
                <h2><strong>关于我们</strong>About us</h2>
            </div>
            <nav>
                <ul>
                    <li class="active"><a href="#">公司简介</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </nav>
            <div class="contact-block">
                <strong class="tel">TEL:0755-88996868</strong>
                <p>传真：0755-83896262</p>
                <p>邮箱：support@iwo.com</p>
            </div>
        </aside>
        <div class="article-area">
            <div class="title-n">
                <h2><strong>公司简介</strong>Company profile</h2>
            </div>
            <!-- 文章区域，文章内容不作样式控制 -->
            <div class="article">

			
            </div>
        </div>
    </section>
