@{
    ViewBag.Title = "gamecenter";
    Layout = "~/Views/Shared/_index.cshtml";
}

  <section class="main-banner gamecenter-banner"></section>
    <section class="main">
        <div class="line-title">
            <span class="line"></span>
            <div class="title"><h2>游戏中心</h2></div>
        </div>
        <!-- 平台列表 -->
        <ul class="os-list">
            <li class="active"><a href="#">PC<i class="pc"></i></a><i class="arrow"></i></li>
            <li><a href="#">iPhone<i class="iphone"></i></a><i class="arrow"></i></li>
            <li><a href="#">Android<i class="android"></i></a><i class="arrow"></i></li>
            <li><a href="#">iPad<i class="ipad"></i></a><i class="arrow"></i></li>
        </ul>
         <!-- 游戏列表区域 -->
        <div class="games-area">
            <ul>
                <li>
                    <a class="game-panel game-panel-b" href="#">
                        <img class="pic" src="Image/games/poker_big.jpg" alt="德州扑克">
                        <div class="info">
                            <h3>德州扑克</h3>
                            <p class="en">TEXAS HOLD’EM POKER<i></i></p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="game-panel game-panel-b" href="#">
                        <img class="pic" src="Image/games/landlords_big.jpg" alt="斗地主">
                        <div class="info">
                            <h3>斗地主</h3>
                            <p class="en">LANDLORDS<i></i></p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="game-panel game-panel-b" href="#">
                        <img class="pic" src="Image/games/landlords_big.jpg" alt="斗地主">
                        <div class="info">
                            <h3>斗地主</h3>
                            <p class="en">LANDLORDS<i></i></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
