@{
    ViewBag.Title = "disclaimer";
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>免责声明 - 深圳市互联工场科技有限公司</title>
    <!--[if lt IE 9]><script src="/Scripts/html5.js"></script><![endif]-->
    <style>
        .disclaimer {
            font: 12px/1.5 Arial,simsun;
            color: #666;
        }

            .disclaimer h2 {
                font-size: 18px;
                font-family: "Microsoft Yahei";
            }
    </style>
</head>
<body>
    <div class="disclaimer">
        <h2>免责声明</h2>
        <p><strong>互联工场科技有限公司</strong> 及/或其附属公司竭力确保所提供之资料为准确可靠，惟不保证该等资料绝对准确可靠。亦不对由于资料不准确或疏漏而引致之损失或损害承担任何直接和间接责任（不论是民事侵权行为或合约责任或其它）。任何情况下 <strong>互联工场科技有限公司</strong> 或其附属公司均不对因使用本网站资料而引致之损失或损害承担任何直接和间接责任。</p>
        <p><strong>互联工场科技有限公司</strong>及/或其附属公司事先书面同意，不得更改、抄袭、传送、分发及/或複製本网站所载之资料；本司保留透过法律途径追究因更改、抄袭、传送、分发及/或複製本网站所载之资料而引致任何损失或法律责任。</p>
        <p style="text-align:center;"><input type="submit" name="button" id="button" value="关闭" onclick="MM_callJS('close();')" /></p>
    </div>
    <script type="text/javascript">
        function MM_callJS(jsStr) { //v2.0
          return eval(jsStr)
        }
    </script>
</body>
</html>