@{
    ViewBag.Title = "texas_poker";
}

<section id="banner">
    <div class="bd">
        <ul>
            <li id="b1" class="darkcolor" style="background-image: url(/pic/probanner1.jpg); height:567px">
                <div class="intro">
                    <h2>德州扑克</h2>
                    @*<dl class="online">
                        <dt>在线游戏</dt>
                        <dd>
                            <a href="http://apps.facebook.com/twtexas" class="pt1" target="_blank" title="Facebook"></a>
                            <a href="http://rc.qzone.qq.com/23006?via=DLJ" class="pt2" target="_blank" title="QQ空间"></a>
                            <a href="http://www.kaixin001.com/!holdem/index.php" class="pt3" target="_blank" title="开心网"></a>
                            <a href="http://apps.renren.com/boyaa_texas/" class="pt4" target="_blank" title="人人网"></a>
                            <a href="http://game.weibo.com/texaspoker/" class="pt5" target="_blank" title="新浪微游戏"></a>
                        </dd>
                    </dl>*@
                    <p>与其说德州扑克是一种扑克游戏，倒不如说德州扑克是一种心理游戏，你的心理足够强大吗？</p>
                    <dl class="download">
                        <dt>下载游戏：</dt>
                        <dd>
                            <a href="http://itunes.apple.com/app/id395072693?mt=8" class="downlink ipad">iPad</a>
                            <a href="http://itunes.apple.com/app/id391090493?mt=8" class="downlink iphone">iPhone</a>
                            <a href="http://www.boyaa.com/mobile/apk/sina_slb_3.0.5.apk" class="downlink android">Android</a>
                            <span class="ewm"><img src="/images/texas_poker80.png" height="80" width="80" alt=""></span>
                        </dd>
                    </dl>
                </div>
            </li>
        </ul>
    </div>
</section>
<section id="main" class="area promain">
    <div class="location">
        <span class="qlink"><a href="index" class="home"></a> <em></em> <a href="lists">玩一玩</a> <em></em> <label>德州扑克</label></span>
        <a href="lists" class="goback">返回列表</a>
    </div>
    <section class="area combox">
        <div class="gameintro">
            <p><img src="/pic/texas_detail1.jpg" height="510" width="1000" alt=""></p>
            <p><img src="/pic/texas_detail2.jpg" height="456" width="1000" alt=""></p>
            <p><img src="/pic/texas_detail3.jpg" height="1140" width="1000" alt=""></p>
            <p><img src="/pic/texas_detail4.jpg" height="581" width="1000" alt=""></p>
        </div>
    </section>
</section>
<a href="texas_poker#top" class="gotop"></a>



@section nav{
    <a href="/home/index">首　页</a>
    <a class="current" href="/home/lists">游戏中心</a>
    <a href="/home/download">手机客户端</a>
}


