@using Webdiyer.WebControls.Mvc;
@using GL.Data.Model;
@model IEnumerable<Roulette>
@{
    Layout = null;
}

<div class="detail">
    <div class="row-fluid">
        <div class="widget-box" id="box">
            <section id="widget-grid" class="">
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                             data-widget-togglebutton="false"
                             data-widget-deletebutton="false"
                             data-widget-fullscreenbutton="false"
                             data-widget-custombutton="false"
                             data-widget-collapsed="false"
                             data-widget-sortable="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>各奖励次数统计</h2>
                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr><th style="font-size: 14px;color:black" colspan="11">@ViewData["AllCount"]</th></tr>
                                                <tr>
                                                    <th>奖励编号</th>
                                                    <th>奖励描述</th>
                                                    <th>产生次数</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Count() == 0)
                                                {
                                                    <tr class="gradeX">
                                                        <td class="colspan" align="center" colspan="0">
                                                            没有找到相关记录！
                                                        </td>
                                                    </tr>
                                                }
                                                @foreach (Roulette m in Model)
                                                {
                                                    <tr class="gradeA">
                                                        <td>@m.ID</td>
                                                        <td>@m.IDDesc</td>
                                                        <td>@m.CountSum</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>


